<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644428989651-32fqb3622pprug791egqeg1tn1mbd8c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644428989651-32fqb3622pprug791egqeg1tn1mbd8c3</string>
	<key>API_KEY</key>
	<string>AIzaSyAG4M-YTLuIYPdn6Hk0_h4uVrf3rDgSdzs</string>
	<key>GCM_SENDER_ID</key>
	<string>644428989651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chronus.Chronus</string>
	<key>PROJECT_ID</key>
	<string>fbla-app-fccf7</string>
	<key>STORAGE_BUCKET</key>
	<string>fbla-app-fccf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644428989651:ios:7d6f22291a770c1c0f8026</string>
</dict>
</plist>